#content
  - form_tag '/' do
    %table
      %thead
        %tr
          %th{ :colspan => 2 }
            %img{ :src => "/images/decider.png", :alt => "I am The Decider." }
      %tbody#items
        - if @items
          - for item in @items
            = render :partial => 'item', :locals => { :item => item, :selection => @selection, :id => rand }
        - else
          - for i in (1..3)
            = render :partial => 'item', :locals => { :item => nil, :id => rand }
      %tfoot
        %tr
          %td.addcell
            = add_item_link '<img src="/images/plus.png" alt="+" />'
          %td.submitcell
            = image_submit_tag "/images/shuffle-on.png"
